/* BOX MODEL */
h1{
  background: red;
  /* padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 70px; */
  padding: 40px;
  /* margin-right: 50px;
  ^ same as padding  */
  /* stacking */
  margin-bottom: 2px;
  /* border-style: solid;
  border-width: 10px;
  border-color: green; */
  border-bottom: 5px dashed blue;
}
p{
  background: blue;
  /* Padding on all sides */
  padding: 40px;
  /* Padding on top/bottom 30px and on left/right 60px */
  /* padding: 30px 60px; */
  /* Padding 20 top 40 bottom 60 right 10 left */
  /* padding: 20px 40px 60px 10px; */
  margin-top:0;
  border:5px solid gray;
}
/* BORDER-RADIUS */
/* negative margin */
h3{
background: green;
border: 10px solid black;
padding: 30px;
border-radius: 10px;
margin-top: -50px;

}
h5{
  background: blue;
  border: 20px solid red;
  padding: 20px;
}
.buttons{
  margin: 3rem;
}
a{
  background: #ff00ff;
  text-decoration: none;
  padding: 1.2rem 1.5rem;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 20px;
}
#one{
  border: .2rem solid black;
}
#two{
  outline: 0.2rem solid black;
outline-offset: 10px;
}