body{
  text-transform: uppercase;
}
.one{
  line-height: 1.5em;
  text-decoration: rgb(255, 0, 0) overline;
}
.two{
  letter-spacing: 5px;
}
.three{
  word-spacing: 20px;
}
h1{
  text-transform:  capitalize;
}
a{
  font-size: 40px;
  text-decoration: none;
}
